<h1>My List!</h1>


<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.label :completed %>
  <%= f.check_box :completed %>
  <%= f.submit :update %>
<% end %>
<hr>
<%= link_to 'Bacl to my list.', tasks_path %>
